body {
    overflow: hidden;
}

.logo {
    transform: rotate(-135deg);
}

.teadown-header {
    line-height: 32px;
    padding: 5px;
    font-size: 16px;
    padding-bottom: 0 !important;
    background: #eee;
}

.teadown-fullwin {
    width: 100%;
    height: calc(~"100% - 32px");
    border: 0;
}

.teadown-link {
    cursor: pointer;
    &:hover {
        color: #009900
    }
    &.active {
        color: #009900;
        font-weight: bold;
    }
}

.toolbar {
    .icon {
        &:hover {
            color: #009900
        }
    }
}