html {
    height: 100%;
}

body {
    height: 100%;
    overflow: hidden;
}

#wrapper {
    height: 100%;
}

section {
    height: 100%;
    lost-utility: clearfix;
}

section > div {
    height: 100%;
}

section .lost-sidebar{
    lost-column: 1/4 0 0
}
section .lost-editor{
    lost-column: 3/8 0 0
}

section .lost-preview{
    lost-column: 3/8 0 0
}
